<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('navbar') %>
    <h1>NumberFit Crowd Funding</h1>
    <p>description of website</p>
  </body>
</html>
