<!DOCTYPE html>
<html>
  <head>
    <title>School Management</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('navbar') %>
    <h1>School Profile Administration</h1>
    <p>School: <%= schooldata.school %></p>
    <p>Onboard Status: <%= schooldata.onboarded %></p>
  </body>

  <script>
  </script>
  
</html>
