<!DOCTYPE html>
<html>
  <head>
    <title>Create Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%- include('navbar') %>

    <h1>Create a Project</h1>
    <p>Note that you have to be a teacher or administrator of this school to create a project.
      If you are not, you can propose a project and teachers can approve it.
      <!-- To do is a link to it -->
    </p>

    <form method="post" action="/projects.js" id="createProjectForm">
      <label for="title">Title:</label>
      <br />
      <input type="text" id="title" name="title" />
      <br />
      <label for="school">School:</label>
      <br />
      <select id="school" name="school">
        <% schools.forEach(function(school) { %>
          <option value="<%= school %>"><%= school %></option>
        <% }); %>
      </select>
      <br />
      <label for="description">Description:</label>
      <br />
      <input type="text" id="description" name="description" />
      <br />
      <label for="goalmoney">Goal Money:</label>
      <br />
      <input type="number" id="goalmoney" name="goalmoney" />
      <br />
      <br />
      <button type="submit">Create Project</button>
    </form>

  </body>
  <script>

    var form = document.getElementById("createProjectForm");

    async function sendCreateProject(event) {
      event.preventDefault();
      var title = document.getElementById("title").value;
      var school = document.getElementById("school").value;
      var description = document.getElementById("description").value;
      var goalmoney = document.getElementById("goalmoney").value;

      // Post-Request to Create Project
      var response = await fetch("/projects/create", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          title: title,
          school: school,
          description: description,
          goalmoney: goalmoney,
        })
      });
     
      if (response.status == 200) {
        var json = await response.json();
        console.log("Success Create Project");
        window.location.href = "/projects/view/" + json.projectid;
      } else {
        alert("Tried but failed to create project:" + await response.text());
      }
    }

    form.addEventListener("submit", sendCreateProject);
  </script>  
</html>
