<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Donation Made Successfully</h1>
    <p>Thank you for your donation to <%= project.title %>!</p>
  </body>
</html>
