<!-- This is intended for recoverable errors which
	should not redirect to a separate error page.  -->

<% if (typeof error !== 'undefined') { %>
<h1><%= error.message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<% } %>
