<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/require.js"></script>
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Login Form</h1>
    <form method="post" id="loginForm">
        <label for="email" >Email</label><br>
        <input type="text" name="email"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password">
        <button type="submit">Submit</button>
    </form>

    <a href="/auth/forgot">Forgot Password?</a>
    
  </body>
</html>
