<div>
    <span>NavBar</span>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a id="loginlink" href="/login">Login</a>
    <a id="signuplink" href="/signup">Sign Up</a>
    <a id="settingslink" href="" style="display: none;">Settings</a>
    <a id="signoutlink" href="/" style="display: none;">Log Out</a>

    

    <script>
      var settingslink = document.getElementById('settingslink');
      if (localStorage.getItem('firebtoken')) {
        settingslink.style.display = 'inline';
        loginlink.style.display = 'none';
        signuplink.style.display = 'none';
        signoutlink.style.display = 'inline';
      }
      settingslink.addEventListener('click', function(event) {
        event.preventDefault();
        window.location.href = '/settings/' + localStorage.getItem('firebtoken');
      });
      signoutlink.addEventListener('click', function(event) {
        localStorage.removeItem('firebtoken');
        localStorage.removeItem('uid');
      });
    </script>
  </div>