<div>
    <span>Crowdfunding for Schools</span>
    <a href="/">Home</a>
    <a href="/about">About</a>
    
    <% if (locals.user !== undefined) { %>
      <a href="/projects">Projects</a>
      <a id="myschoolslink" href="/myschools">My schools</a>
      <a id="createschoollink" href="/createSchool">Create a school</a>  
      <a id="settingslink" href="/settings">Settings</a>
      <a id="signoutlink" href="/logout">Log Out</a>
      <%} else { %>
      <a id="loginlink" href="/login">Login</a>
      <a id="signuplink" href="/signup">Sign Up</a>
    <%} %>
  </div>