<div>
    <span>Crowdfunding for Schools</span>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>

    <% if (locals.user === undefined) { %>
      <a id="loginlink" href="/login">Login</a>
      <a id="signuplink" href="/signup">Sign Up</a>
    <%} else { %>
      <a id="settingslink" href="/settings">Settings</a>
      <a id="signoutlink" href="/logout">Log Out</a>
    <%} %>
  </div>