<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/require.js"></script>
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Reset Password</h1>
    <form id="loginForm">
        <label for="OTP">OTP</label><br>
        <input type="text" id="otpField" name="otpField" value="<%=oobCode || ''%>" disabled><br>
        <label for="password">Password</label><br>
        <input type="password" id="passField" name="passField"><br>
        <label for="password">Confirm Password</label><br>
        <input type="password" id="confirmPassField" name="confirmPassField">
        <button type="submit">Submit</button>
    </form>

    
  </body>
  <script>
    var form = document.getElementById("loginForm");
    async function sendLogin(event){
        event.preventDefault();
        var pass = document.getElementById("passField").value;
        var otp = document.getElementById("otpField").value;
        
        if (pass != document.getElementById("confirmPassField").value){
            alert("Passwords do not match")
            return
        }

        if (pass.length < 6){
            alert("Password must be at least 6 characters long")
            return
        }

        // Post-Request to Login
        var response = await fetch("/auth/resetpasswordwithcode", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                oobCode: otp,
                newPassword: pass
            })
        })

        
        var json = await response.json()
        console.log(json)
        if (response.status == 200){
            console.log("Success Reset")

            // Redirect to Home
            window.location.href = "/login"
        }
        else{
            alert("Tried but failed to reset password")
        }

    }
    form.addEventListener('submit', sendLogin);
    </script>
</html>
