<!DOCTYPE html>
<html>
  <head>
    <title>Settings</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/require.js"></script>
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Settings Page</h1>
    <p>UID: <%=uid || ''%></p>
    <form id="SettingsForm">
        <label for="email">Email</label><br>
        <input disabled type="text" id="emailField" name="emailField" value="<%= email || '' %>"><br>
    </form>
    
  </body>
  <script>
  </script>
</html>
