<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/signup-style.css">
    <script src="javascripts/require.js"></script>
    <style>
      .btn-signup-primary {
        --bd-violet-bg: #7572E8;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #492F75;
        --bs-btn-hover-border-color: #492F75;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #7572E8;
        --bs-btn-active-border-color: #7572E8;
      }
   </style>
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    <!-- Main Container -->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">


    <!-- Signup Container -->

      <div class="row border rounded-5 p-2 bg-white shadow box-area">


    <!-- Form Box -->
        <form id="signupform">
          <div class="col form-box">
              <div class="row align-items-center">
                <div class="header-text mb-2 signupTitle">
                  <figure class="text-center"><p>Sign up</p></figure>
                </div>
                <div class="header-text mb-0 emailTitle">
                  <figure class="text-left"><p>Email</p></figure>
                </div>
                <div class="input-group mb-3 w-100">
                  <input type="text" id="emailField" name="emailField" class="form-control form-control-lg bg-light fs-6" placeholder = "Email address">
                </div>
                <div class="input-group mb-2">
                  <button type="submit" class="btn btn-signup-primary btnlg btn-primary w-100 fs-7">SUBMIT</button>
                </div>
                <div class="input-group mb-3">
                  <button class="btn btnlg btn-light w-100 fs-7"><img src="/images/google-logo.png" style="width: 20px" class="me-2"><small>Sign Up with Google</small></button>
                </div>
                <div class="alreadyHaveAccount">
                  <span><small> Already have an account? <a href="#">Log in here</a></small></span>
                </div>
              </div>        
          </div>
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        var form = document.getElementById("signupform");
        async function sendLogin(event) {
            event.preventDefault();
            var email = document.getElementById("emailField").value;

            // Post-Request to Sign Up
            var response = await fetch("/auth/signup", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email,
                })
            });

            var json = await response.json();
            if (response.status == 200) {
                console.log("Success Sign Up");
                localStorage.setItem("firebtoken", json.idToken);
                localStorage.setItem("uid", json.localId);

                // Redirect to settings
                window.location.href = "/auth/verify?firebtoken=" + json.idToken;
            } else {
                alert("Tried but failed to Sign Up");
            }
        }

        form.addEventListener('submit', sendLogin);
    </script>
  </body>
</html>
       