<html>
  <head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/require.js"></script>
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Sign UP Form</h1>
    <form id="signupform">
        <label for="email">Email</label><br>
        <input type="text" id="emailField" name="emailField"><br>
        <label for="password">Password</label><br>
        <input type="password" id="passField" name="passField"><br>
        <label for="confirmPassword">Confirm Password</label><br>
        <input type="password" id="confirmPassField" name="confirmPassField">
        <button type="submit">Submit</button>
    </form>

    <script>
        var form = document.getElementById("signupform");
        async function sendLogin(event) {
            event.preventDefault();
            var email = document.getElementById("emailField").value;
            var pass = document.getElementById("passField").value;
            var confirmPass = document.getElementById("confirmPassField").value;

            if (pass !== confirmPass) {
                alert("Passwords do not match");
                return;
            }

            // Post-Request to Sign Up
            var response = await fetch("/signup", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email,
                    password: pass,
                    returnSecureToken: true
                })
            });

            var json = await response.json();
            if (response.status == 200) {
                console.log("Success Sign Up");
                localStorage.setItem("firebtoken", json.idToken);
                localStorage.setItem("uid", json.localId);

                // Redirect to settings
                window.location.href = "/settings" + "/" + json.idToken;
            } else {
                alert("Tried but failed to Sign Up");
            }
        }

        form.addEventListener('submit', sendLogin);
    </script>
  </body>
</html>
       