<html>
  <head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/require.js"></script>
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Sign Up Form</h1>
    <form method="post" id="signupform">
        <label for="email">Email</label><br>
        <input type="text" name="email"><br>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
       