<!DOCTYPE html>
<html>
  <head>
    <title>Verify Email</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/require.js"></script>
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Verify Your Email</h1>
    <p>Verify your email by clicking the link sent to your email</p>
    <form>
        <label for="email">Email</label><br>
        <input disabled type="text" id="emailField" name="emailField" value="<%= email || '' %>"><br>
        <button type="submit" disabled>Resend Verification Email</button>
        <!-- To Do: Implement some minimum time between verification sends -->
    </form>
  </body>
  <script>
  </script>
</html>
