body {
    font-family: Arial, Helvetica, sans-serif 
}

/*--------- Login container -------------*/
.box-area{
    width: 500px;
}

/*-------------- Form box ---------------*/
.form-box {
    padding: 40px 30px 40px 40px
}

::placeholder {
    font-size: 16px;
}

.resetTitle {
    font-size: 40px;

}

.otpTitle {
    font-size: 20px;

}

.passTitle {
    font-size: 20px;

}

.confirmTitle {
    font-size: 20px;

}
/*-------------- For small screens ---------------
@media only screen and (max-width: 400px){
    .box-area{
        margin: 0 10px;
    }
    .form-box{
        padding: 20px;
    }
}*/

.btn-reset-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}